<div layout="column" flex layout-fill ng-controller="ContactsController as contactsCtrl">
    <md-content layout-padding>
        <section>
            <md-input-container>
                <label>Search</label>
                <input type="text" ng-model="search" agap-search-rx="contactsCtrl.searchFunc" agap-search-rx-callback="contactsCtrl.searchCallback" agap-search-rx-min-length="5">
            </md-input-container>
            <md-list>
                <md-list-item ng-repeat="contact in contactsCtrl.contacts">
                    {{contact.name}}
                </md-list-item>
            </md-list>
            <span ng-show="contactsCtrl.contacts.length == 0">Contacts not found</span>
        </section>
        <md-button class="md-fab md-mini md-accent" aria-label="Add contacts">
            <md-icon md-svg-icon="contacts-add"></md-icon>
        </md-button>
    </md-content>
</div>
