<!DOCTYPE html>
<html lang="en" ng-app="agapApp">

<head>
    <title>agap - material</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
    <link href='http://fonts.googleapis.com/css?family=Noto+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="./bower_components/angular-material/angular-material.css" />
    <link rel="stylesheet" href="assets/app.css" />
</head>

<body layout="row" ng-controller="MainController as mainCtrl">
    <md-sidenav class="site-sidenav md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')" ng-show="mainCtrl.menuVisible">
        <md-toolbar class="md-whiteframe-z1">
            <h1>agap</h1>
        </md-toolbar>
        <md-list>
            <md-list-item ng-repeat="menu in mainCtrl.menus">
                <md-button ng-click="mainCtrl.selectMenu(menu)" ng-class="{'selected' : menu === mainCtrl.selected }">
                    <md-icon md-svg-icon="{{menu.icon}}"></md-icon>
                    {{menu.caption}}
                </md-button>
            </md-list-item>
        </md-list>
    </md-sidenav>
    <div flex layout="column" tabIndex="-1" role="main" class="md-whiteframe-z2">
        <md-toolbar layout="row" class="md-whiteframe-z1">
            <div class="md-toolbar-tools">
                <md-button class="menu" hide-gt-sm ng-click="mainCtrl.toggleMenu()" aria-label="Show menu" ng-show="mainCtrl.menuVisible">
                    <md-icon md-svg-icon="menu"></md-icon>
                </md-button>
                <div layout="row" flex class="fill-height">
                    <h2 class="md-toolbar-item md-breadcrumb md-headline">{{mainCtrl.getTitle()}}</h2>
                    <span flex></span>
                    <div class="md-toolbar-item" layout="row" ng-show="mainCtrl.menuVisible">
                        <md-button href="#/logout" aria-label="Logout">
                            <md-icon md-svg-icon="logout"></md-icon>
                            <md-tooltip>Logout</md-tooltip>
                        </md-button>
                    </div>
                </div>
            </div>
        </md-toolbar>
        <!-- main content -->
        <md-content ng-view md-scroll-y flex layout-padding></md-content>
    </div>
    <!-- -->
    <script src="./bower_components/angular/angular.js"></script>
    <script src="./bower_components/angular-route/angular-route.js"></script>
    <script src="./bower_components/angular-animate/angular-animate.js"></script>
    <script src="./bower_components/angular-aria/angular-aria.js"></script>
    <script src="./bower_components/angular-material/angular-material.js"></script>
    <script src="./bower_components/angular-messages/angular-messages.js"></script>
    <script src="./bower_components/rxjs/dist/rx.lite.js"></script>
    <!-- -->
    <script src="./agap_modules.js"></script>
    <script src="./src/js/app.js"></script>
    <script src="./src/js/services.js"></script>
    <script src="./src/js/MainController.js"></script>
    <script src="./src/js/LoginController.js"></script>
    <script src="./src/js/HomeController.js"></script>
    <script src="./src/js/CalendarController.js"></script>
    <script src="./src/js/ContactsController.js"></script>
</body>

</html>
